<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>公告</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/share.css">
  <link rel="stylesheet" href="/css/bulletin.css">
  <link rel="stylesheet" href="/css/editormd.min.css">
  <link rel="stylesheet" href="/css/editormd.preview.min.css">


  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/share.js"></script>
  <script src="/js/moment.min.js" type="application/javascript"></script>
  <script src="/js/editormd.min.js" type="application/javascript"></script>
  <script src="/js/lib/marked.min.js" type="application/javascript"></script>
  <script src="/js/lib/prettify.min.js" type="application/javascript"></script>
</head>

<script>
  function download(e) {
    var dataUrl = $(e).attr('data-filePath');
    $.ajax({
      url: '/download?filePath=' + dataUrl + '&fileType='+'bulletin',
      success:function () {
        
      },
      error:function (data) {
        alert(data.message)
      }
    })
  }

  // $(document).ready(function(){
  //   var bulletin = $("#bulletin-view").innerText;
  //   $("#bulletin-view").html("");
  //   $("#bulletin-view").append(bulletin);
  // });


</script>

<body>
<div class="container-fluid main">
  <!--顶部-->
  <div class="row">
    <!-- 顶部logo等 -->
    <div class="col-md-offset-1 col-md-11 row">
      <div class="container-fluid col-md-12">
        <img src="/images/nculogo.png" alt="" class="logo">
        <span class="ncu hidden-xs">南昌大学</span>
        <span class="user col-md-offset-7">
            甘容辉<span class="hidden-xs">(8000116251)</span> &nbsp;&nbsp;&nbsp;<a href="">注销</a>
          </span>
        <h1 class="system-name hidden-xs">大学生毕业设计（论文）管理系统</h1>
        <h1 class="system-name visible-xs-inline">毕业设计管理系统</h1>
      </div>

    </div>
  </div>
  <!-- 顶部导航条 -->
  <div class="row">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="visible-xs-block menu clearfix">
          <span class="title">首页</span><span class="glyphicon glyphicon-align-justify icon"></span>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navigation">
            <li><a href="#">首页<span class="sr-only">(current)</span></a></li>
            <li><a href="#">公告</a></li>
            <li><a href="#">师生互选</a></li>
            <li><a href="#">过程管理</a></li>
            <li><a href="#">答辩</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="row big-main">
    <!-- 公告 -->
    <div class="row">
      <div class="col-md-offset-1 col-md-9 common form">
        <div>
          <div class="bulletin-title">
            <h3 th:text="${bulletin.title}"></h3>
            <span>发布时间：<span
                th:text="${#dates.format(bulletin.gmtModified,'yyyy-MM-dd')}"></span></span>
          </div>
          <hr>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="bulletin-view" th:utext="${bulletin.description}">
          </div>
          <div>
            <p>
              &nbsp;&nbsp;附件
              <a th:href="@{/download(filePath=${bulletin.filePath},fileType='bulletin')}"><span th:text="${#strings.arraySplit(bulletin.filePath,'#')[1]}"></span></a>
              &nbsp;&nbsp;
              <a th:href="@{/readOnline(filePath=${bulletin.filePath},fileType='bulletin')}">在线浏览</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>