<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>毕设系统</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
  <script src="/js/bootstrap.js" type="application/javascript"></script>
</head>
<body>
<div class="jumbotron">
  <h1>出错啦 ! ! !</h1>
  <p th:text="${message}"></p>
  <p><a class="btn btn-primary btn-lg" href="/project/myProject" role="button">回到课题页</a></p>
</div>

</body>
</html>