<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>毕设系统</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/share.css">

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/share.js"></script>
  <script src="/js/jqueryForm.js"></script>
  <script src="/js/transition.min.js"></script>
</head>
<body>
<div class="container-fluid main">
  <!--顶部-->
  <div th:replace="head::head">

  </div>
  <div class="col-md-offset-1 col-md-9 jumbotron">
    <h1>出错啦 ! ! !</h1>
    <p th:text="${message}"></p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">返回首页</a></p>
  </div>
</div>
</body>
</html>