<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="head">


  <div class="row">
    <!-- 顶部logo等 -->
    <div class="col-md-offset-1 col-md-11 row">
      <div class="container-fluid col-md-12">
        <img src="/images/nculogo.png" alt="" class="logo">
        <span class="ncu hidden-xs">南昌大学</span>
        <span class="user col-md-offset-7">
          <span th:text="${session.user.name}"></span>
          <span class="hidden-xs">
          (<span th:text="${session.user.accountNo}"></span>)
          </span> &nbsp;&nbsp;&nbsp;
          <a href="/logout">注销</a>
         </span>
        <h1 class="system-name hidden-xs">大学生毕业设计（论文）管理系统</h1>
        <h1 class="system-name visible-xs-inline">毕业设计管理系统</h1>
      </div>
    </div>
  </div>
  <!-- 顶部导航条 -->
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">首页</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">首页<span class="sr-only">(current)</span></a></li>
            <li><a href="/bulletin">公告</a></li>
            <li><a href="/project/myProject">师生互选</a></li>
            <li><a th:if="${session.user.role} == 'student'" href="/student/taskBook">过程管理</a></li>
            <li><a th:if="${session.user.role} == 'teacher'" href="/teacher/taskBook">过程管理</a></li>

            <li><a th:if="${session.user.role} == 'admin'" href="/admin/projectPlan">毕设管理</a></li>
            <li><a th:if="${session.user.role} == 'student'" href="/student/thesis">论文/答辩</a></li>
            <li><a th:if="${session.user.role} == 'teacher'" href="/teacher/thesis">论文/答辩</a></li>
            <li><a th:href="@{'/user/info/' +${session.user.accountNo}(role=${session.user.role})}">用户管理</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

</body>

</html>