<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/share.css">
  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/share.js"></script>

</head>

<body>
  <div class="container-fluid main">
    <!--顶部-->
    <div class="row">
      <!-- 顶部logo等 -->
      <div class="col-md-offset-1 col-md-11 row">
        <div class="container-fluid col-md-12">
          <img src="/images/nculogo.png" alt="" class="logo">
          <span class="ncu hidden-xs">南昌大学</span>
          <span class="user col-md-offset-7">
            甘容辉<span class="hidden-xs">(8000116251)</span> &nbsp;&nbsp;&nbsp;<a href="">注销</a>
          </span>
          <h1 class="system-name hidden-xs">大学生毕业设计（论文）管理系统</h1>
          <h1 class="system-name visible-xs-inline">毕业设计管理系统</h1>
        </div>

      </div>
    </div>
    <!-- 顶部导航条 -->
    <div class="row">
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <div class="visible-xs-block menu clearfix">
            <span class="title">首页</span><span class="glyphicon glyphicon-align-justify icon"></span>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navigation">
              <li><a href="#">首页<span class="sr-only">(current)</span></a></li>
              <li><a href="#">公告</a></li>
              <li><a href="#">师生互选</a></li>
              <li><a href="#">过程管理</a></li>
              <li><a href="#">答辩</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="row big-main">
      <div class="row">
        <div class="col-md-offset-1 col-md-9 common view">
          <p class="title">当前进度</p>
          <hr>
          <div class="progress">
            <div class="progress-bar" style="width: 14%">
              <span class="sr-only"></span>课题申报<br>2020-11-11:2020-11-12
            </div>
            <div class="progress-bar" style="width: 14%">
              <span class="sr-only"></span>师生互选<br>2020-11-11:2020-11-12
            </div>
            <div class="progress-bar not-time" style="width: 14%">
              <span class="sr-only"></span>任务书<br>2020-11-11:2020-11-12
            </div>
            <div class="progress-bar not-time" style="width: 14%">
              <span class="sr-only"></span>开题报告<br>2020-11-11:2020-11-12
            </div>
            <div class="progress-bar not-time" style="width: 14%">
              <span class="sr-only"></span>外文资料<br>2020-11-11:2020-11-12
            </div>
            <div class="progress-bar not-time" style="width: 14%">
              <span class="sr-only"></span>论文<br>2020-11-11:2020-11-12
            </div>
            <div class="progress-bar not-time" style="width: 14%">
              <span class="sr-only"></span>答辩<br>2020-11-11:2020-11-12
            </div>
          </div>
          <p>*蓝色为已进行项目，灰色为未开始项目</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-9 common view">
          <p class="title">我的题目</p>
          <hr>
          <dl class="dl-horizontal">
            <dt>课题名：</dt>
            <dd>毕业设计管理系统</dd>
            <dt>指导老师：</dt>
            <dd>欧阳皓</dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-9 common view">
          <p class="title">我的进度</p>
          <hr>
          <table class="table table-bordered">
            <tr style="text-align: center;">
              <td>开题报告</td>
              <td>已提交&nbsp;&nbsp;审核通过</td>
              <td>查看详情</td>
            </tr>
            <tr style="text-align: center;">
              <td>开题报告</td>
              <td>已提交&nbsp;&nbsp;审核通过</td>
              <td>查看详情</td>
            </tr>
            <tr style="text-align: center;">
              <td>开题报告</td>
              <td>已提交&nbsp;&nbsp;审核通过</td>
              <td>查看详情</td>
            </tr>
            <tr style="text-align: center;">
              <td>开题报告</td>
              <td>已提交&nbsp;&nbsp;审核通过</td>
              <td>查看详情</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-9 common view">
          <p class="title">我的成绩</p>
          <hr>
          <dl class="dl-horizontal">
            <dt>总成绩：</dt>
            <dd>121111</dd>     
            <dt>答辩成绩：</dt>
            <dd>121111</dd>       
            <dt>论文成绩：</dt>
            <dd>121111</dd>
            <dt>指导老师成绩：</dt>
            <dd>121111</dd>
            <dt>盲审成绩：</dt>
            <dd>121111</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

</body>

</html>