<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="left-menu">
    <div class="col-md-offset-1 col-md-3 subMenu">
        <h4 class="subMenu-title">师生互选</h4>
        <div class="list-group">
            <a href="#" class="list-group-item active">课题申报</a>
            <a href="#" class="list-group-item">选择课题</a>
            <a href="#" class="list-group-item">查看任务书</a>
            <a href="#" class="list-group-item">发布公告</a>
            <a href="#" class="list-group-item">查看公告</a>
        </div>
    </div>
</div>

</body>

</html>