<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/share.css">

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/share.js"></script>
  <script src="/js/jqueryForm.js"></script>

  <script>
    function projectApply() {
      $('#projectApply').ajaxSubmit({
        beforeSubmit: function () {
        },
        success: function (data) {
          if (data.code == 200) {
            alert("提交成功");
            setTimeout(function () {
              window.location.href = "/myProject";
            }, 500);
          } else {
            alert("提交失败, 请重试");
          }
        },

      });
    }

    function getProject(e) {
      var pno = $(e).attr('data-no');
      $.ajax({
        url: '/project/modify/' + pno,
        dataType: 'json',
        success: function (data) {

          $("#project-no").val(data.data.no + "");
          $("#project-name").val(data.data.name + "");
          $("#project-content").val(data.data.content + "");
          $("#project-type").val(data.data.type + "");

          //如果文件有的话
          if (data.data.filePath != 'null') {
            var filePath = data.data.filePath + "";
            $("#oldFilePath").val(filePath + "");
            var filePathUrl = filePath.replace("#", "%23");
            $("#old-file").removeClass("hide");
            $("#old-file").append(" <p>\n"
                + "&nbsp;&nbsp;已提交附件\n"
                + "<a href=\"/download?filePath=" + filePathUrl + "&fileType=project\"><span>"
                + filePath.split('#')[1] + "</span></a>\n"
                + "&nbsp;&nbsp;\n"
                + "<a href=\"/readOnline?filePath=" + filePathUrl
                + "&fileType=project\">在线浏览</a>\n"
                + "\n"
                + "</p>");
          }

          $('#myModal').modal({
            keyboard: false
          });
        },
        error: function (data) {
          alert(data.message)
        }
      })
      $('#projectApply').ajaxSubmit({
        beforeSubmit: function () {
        },
        success: function (data) {
          if (data.code == 200) {
            alert("提交成功");
            setTimeout(function () {
              window.location.href = "/myProject";
            }, 500);
          } else {
            alert("提交失败, 请重试");
          }
        },

      });
    }

    function removeFile() {
      $("#old-file").empty();
    }
  </script>
</head>

<body>
<div class="container-fluid main">
  <!--顶部-->
  <div class="row">
    <!-- 顶部logo等 -->
    <div class="col-md-offset-1 col-md-11 row">
      <div class="container-fluid col-md-12">
        <img src="/images/nculogo.png" alt="" class="logo">
        <span class="ncu hidden-xs">南昌大学</span>
        <span class="user col-md-offset-7">
                        <span th:text="${session.user.name}">甘容辉</span>
                        <span class="hidden-xs">
                            (<span th:text="${session.user.accountNo}">8000116251</span>)
                        </span> &nbsp;&nbsp;&nbsp;
                        <a href="/logout">注销</a>
                    </span>
        <h1 class="system-name hidden-xs">大学生毕业设计（论文）管理系统</h1>
        <h1 class="system-name visible-xs-inline">毕业设计管理系统</h1>
      </div>

    </div>
  </div>
  <!-- 顶部导航条 -->
  <div class="row">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="visible-xs-block menu clearfix">
          <span class="title">首页</span><span class="glyphicon glyphicon-align-justify icon"></span>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navigation">
            <li><a href="#">首页<span class="sr-only">(current)</span></a></li>
            <li><a href="#">公告</a></li>
            <li><a href="#">师生互选</a></li>
            <li><a href="#">过程管理</a></li>
            <li><a href="#">答辩</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="row ">
    <!-- 左侧菜单 -->
    <div class="col-md-offset-1 col-md-2 subMenu">
      <h4 class="subMenu-title">师生互选</h4>
      <div class="list-group">
        <a href="#" class="list-group-item active">课题申报</a>
        <a href="#" class="list-group-item">选择课题</a>
        <a href="#" class="list-group-item">查看任务书</a>
        <a href="#" class="list-group-item">发布公告</a>
        <a href="#" class="list-group-item">查看公告</a>
      </div>
    </div>

    <!-- 已提交的课题 -->
    <div class="row">
      <div class="col-md-7 common view">

        <p class="title">我的课题</p>

        <hr>
        <div class="table-responsive view">
          <table class="table">
            <thead>
            <tr>
              <th class="project-name">课题名</th>
              <th>题目类型</th>
              <th>审核状态</th>
              <th>是否已开展</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project:${projects.data}">
              <td th:text="${project.pname}"></td>
              <td>未知</td>
              <td th:if="${project.isPass}==0" class="no-pass">未通过</td>
              <td th:if="${project.isPass}==1" class="pass">已通过</td>
              <td th:if="${project.isPass}==2">审核中</td>
              <td th:text="${project.sname} != null and ${project.tname} != null? '是':'否'"></td>
              <td>
                <a th:href="@{'/project/'+${project.pno}}">查看详情</a>
                <a onclick="getProject(this)" th:data-no="${project.pno}"
                   th:if="${project.isPass}==2">修改</a>
                <a th:href="@{'/project/revoke/'+${project.pno}}" th:if="${project.isPass}==2">撤销</a>
                <a th:href="@{'/project/review/'+${project.pno}}" th:if="${project.isPass}==0">复核</a>
              </td>
            </tr>

            </tbody>
            <tfoot>
            <tr>
              <td>
                <div th:if="${projects.totalPage} > 1">
                <a href="#" class="more">首页</a>&nbsp;&nbsp;
                <a href="#" class="more">上一页</a>&nbsp;&nbsp;
                <input class="pagination-num" type="text" value="1" size="2">&nbsp;&nbsp;
                <a href="#" class="more">下一页</a>&nbsp;&nbsp;
                <a href="#" class="more">尾页</a>&nbsp;&nbsp;
                </div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button type="button" onclick="showProPost()">课题申请</button>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 提交课题弹出框 -->
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">课题申报</h4>
      </div>
      <div class="modal-body">

        <div class="col-md-12 common">
          <form id="projectApply" class="form-inline form" action="/project/apply" method="post"
                enctype="multipart/form-data">
            <input type="text" class="hide" id="project-no" name="no">
            <div class="row">
              <div class="col-md-12">
                <label for="project-name">课题名称&nbsp;&nbsp;</label>
                <input type="text" class="form-control" id="project-name" name="name">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="project-content">课题内容&nbsp;&nbsp;</label>
                <textarea class="form-control" rows="3" id="project-content"
                          name="content"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="project-type">课题类型&nbsp;&nbsp;</label>
                <input type="text" class="form-control" id="project-type" name="type">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 hide" id="old-file">
                <input class="hide" type="text" id="oldFilePath" name="oldFilePath">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="project-file">课题文件&nbsp;&nbsp;</label>
                <input type="file" class="form-control" id="project-file" name="file">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="removeFile()">取消</button>
        <button type="button" class="btn btn-success" onclick="projectApply()">提交</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</body>

</html>