<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>我的课题</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/share.css">

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/share.js"></script>
  <script src="/js/jqueryForm.js"></script>

  <script>
    //课题申请提交
    function projectApply() {
      $('#projectApply').ajaxSubmit({
        beforeSubmit: function () {
        },
        success: function (data) {
          if (data.code == 200) {
            alert("提交成功");
            setTimeout(function () {
              window.location.href = "/project/myProject";
            }, 500);
          } else {
            alert(data.message);
          }
        },

      });
    }

    //复审课题
    function reviewProject(e) {
      var pno = $(e).attr("data-pno");
      $.ajax({
        url: '/project/review/' + pno,
        success: function (data) {
          if (data.code == 200) {
            alert("申请成功，请等待结果");
            window.location.reload();
          } else {
            alert(data.message);
          }
        }
      })
    }
    //撤销课题
    function revokeProject(e) {
      var pno = $(e).attr("data-pno");
      $.ajax({
        url: '/project/revoke/' + pno,
        success: function (data) {
          if (data.code == 200) {
            alert("撤销成功");
            window.location.reload();
          } else {
            alert(data.message);
          }
        }
      })
    }

    //获取课题简要信息
    function getProject(e) {
      var pno = $(e).attr('data-pno');
      $.ajax({
        url: '/project/simple/' + pno,
        dataType: 'json',
        success: function (data) {

          $("#project-pno").val(data.data.pno + "");
          $("#project-pname").val(data.data.pname + "");
          $("#project-content").val(data.data.content + "");
          $("#project-type").val(data.data.type + "");

          //如果文件有的话
          if (data.data.filePath != 'null') {
            var filePath = data.data.filePath + "";
            $("#oldFilePath").val(filePath + "");
            var filePathUrl = filePath.replace("#", "%23");
            $("#old-file").removeClass("hide");
            $("#old-file").append(" <p>\n"
                + "&nbsp;&nbsp;已提交附件\n"
                + "<a href=\"/download?filePath=" + filePathUrl + "&fileType=project\"><span>"
                + filePath.split('#')[1] + "</span></a>\n"
                + "&nbsp;&nbsp;\n"
                + "<a href=\"/readOnline?filePath=" + filePathUrl
                + "&fileType=project\">在线浏览</a>\n"
                + "\n"
                + "</p>");
          }

          $('#myModal').modal({
            keyboard: false
          });
        },
        error: function (data) {
          alert(data.message)
        }
      })
    }

    function removeFile() {
      $("#old-file").empty();
    }
  </script>
</head>

<body>
<div class="container-fluid main">
  <!--顶部-->
  <div th:insert="head::head">

  </div>


  <div class="row">
    <!-- 左侧菜单 -->
    <div th:insert="leftMenu::leftMenuSelect">

    </div>

    <!-- 我的课题 -->
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12 common view">

          <p class="title">我的课题</p>
          <p>* 申报时间为 <span th:text="${projectPlan.projectApplyTime}"></span></p>

          <hr>
          <div class="table-responsive view">
            <table class="table">
              <thead>
              <tr>
                <th class="project-name">课题名</th>
                <th>题目类型</th>
                <th>审核状态</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="project:${myProject.data}">
                <td th:text="${project.pname}"></td>
                <td>未知</td>
                <td th:if="${project.isPass}==0" class="text-danger">未通过</td>
                <td th:if="${project.isPass}==1" class="text-success">已通过</td>
                <td th:if="${project.isPass}==2" class="text-warning">审核中</td>
                <td>
                  <a th:href="@{'/project/'+${project.pno}}">查看详情</a>
                  <button  class="btn btn-link" onclick="getProject(this)" th:data-pno="${project.pno}"
                     th:if="${project.isPass}==2">修改</button>
                  <button class="btn btn-link" th:if="${project.isPass}==2" th:data-pno="${project.pno}" onclick="revokeProject(this)">撤销</button>
                  <button class="btn btn-link" th:if="${project.isPass}==0" th:data-pno="${project.pno}"
                     onclick="reviewProject(this)">复核</button>
                </td>
              </tr>

              </tbody>
              <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <button type="button" onclick="showProPost()">课题申请</button>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 提交课题弹出框 -->
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">课题申报</h4>
      </div>
      <div class="modal-body">

        <div class="col-md-12 common">
          <form id="projectApply" class="form-inline form" action="/project/apply" method="post"
                enctype="multipart/form-data">
            <input type="text" class="hide" id="project-pno" name="pno">
            <div class="row">
              <div class="col-md-12">
                <label for="project-pname">课题名称&nbsp;&nbsp;</label>
                <input type="text" class="form-control" id="project-pname" name="pname">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="project-content">课题内容&nbsp;&nbsp;</label>
                <textarea class="form-control" rows="3" id="project-content"
                          name="content"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="project-type">课题类型&nbsp;&nbsp;</label>
                <select id="project-type" class="form-control" name="type">
                  <option value="校级">校级</option>
                  <option value="省级">省级</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 hide" id="old-file">
                <input class="hide" type="text" id="oldFilePath" name="oldFilePath">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="project-file">课题文件&nbsp;&nbsp;</label>
                <input type="file" class="form-control" id="project-file" name="file">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="removeFile()">
          取消
        </button>
        <button type="button" class="btn btn-primary" onclick="projectApply()">提交</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</body>

</html>