<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>审核课题</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/share.css">

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/share.js"></script>
  <script src="/js/jqueryForm.js"></script>

  <script>
    function projectApplyVerify() {
      $('#projectApplyVerify').ajaxSubmit({
        beforeSubmit: function () {
        },
        success: function (data) {
          if (data.code == 200) {
            alert("审核成功");
            setTimeout(function () {
              window.location.reload();
            }, 500);
          } else {
            alert("审核失败, 请重试");
          }
        },

      });
    }

    function getProject(e) {
      var pno = $(e).attr('data-pno');
      $.ajax({
        url: '/project/simple/' + pno,
        dataType: 'json',
        success: function (data) {
          if (data.code == 200) {
            $("#project-pno").val(data.data.pno + "");
            $("#project-pname").val(data.data.pname + "");
            $("#project-content").val(data.data.content + "");
            $("#project-type").val(data.data.type + "");
            if (data.data.isPass != 2) {
              $("#verify-grade").val(data.data.blindTrialGrade + "");
              $("#verify-comment").val(data.data.blindTrialComment + "");
              $("#verify-grade").attr('readonly', '');
              $("#verify-comment").attr('readonly', '');
              $("#verifySubmit").remove();
            }

            //如果文件有的话
            var filePath = data.data.filePath + "";
            $("#oldFilePath").val(filePath + "");
            var filePathUrl = filePath.replace("#", "%23");
            $("#old-file").removeClass("hide");
            $("#old-file").append(
                "<input class='hide' type='text' id='oldFilePath' name='oldFilePath' value='"+filePath+"'>"
                + " <p>\n"
                + "&nbsp;&nbsp;已提交附件\n"
                + "<a href=\"/download?filePath=" + filePathUrl + "&fileType=project\"><span>"
                + filePath.split('#')[1] + "</span></a>\n"
                + "&nbsp;&nbsp;\n"
                + "<a href=\"/readOnline?filePath=" + filePathUrl
                + "&fileType=project\">在线浏览</a>\n"
                + "\n"
                + "</p>");

            $('#myModal').modal({
              keyboard: false
            });
          } else {
            alert(data.message)
          }

        },
        error: function (data) {
          alert(data.message)
        }
      })
    }

    //移除添加数据数据
    $(function () {
      $('#myModal').on('hide.bs.modal',
          function () {
            $("#old-file").addClass("hide");
            $("#old-file").empty();          })
    });
  </script>
</head>

<body>
<div class="container-fluid main">
  <!--顶部-->
  <div th:insert="head::head">

  </div>


  <div class="row">
    <!-- 左侧菜单 -->
    <div th:insert="leftMenu::leftMenuSelect">

    </div>

    <!-- 课题审核 -->
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12 common view">

          <p class="title">审核课题</p>

          <hr>
          <div class="table-responsive view">
            <table class="table">
              <thead>
              <tr>
                <th class="project-name">课题名</th>
                <th>题目类型</th>
                <th>审核情况</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="project:${projects.data}">
                <td th:text="${project.pname}"></td>
                <td th:text="${project.type}">未知</td>
                <td th:text="${project.isPass} == 2 ? '未审核':'已审核'" th:class="${project.isPass} == 2 ? 'text-success':'text-warning'"></td>
                <td>
                  <button th:if="${project.isPass} == 2" onclick="getProject(this)" class="btn btn-link"
                     th:data-pno="${project.pno}">审核</button>
                  <button th:if="${project.isPass} != 2" onclick="getProject(this)" class="btn btn-link"
                     th:data-pno="${project.pno}">查看</button>
                </td>
              </tr>

              </tbody>
              <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<!-- 课题信息弹出框 -->
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">课题信息</h4>
      </div>
      <div class="modal-body">

        <div class="col-md-12 common">
          <form id="projectApplyVerify" class="form-inline form" action="/project/verify"
                method="post"
                enctype="multipart/form-data">
            <input type="text" class="hide" id="project-pno" name="dno">
            <div class="row">
              <div class="col-md-12">
                <label for="project-pname">课题名称&nbsp;&nbsp;</label>
                <input type="text" class="form-control" id="project-pname" name="pname" readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="project-content">课题内容&nbsp;&nbsp;</label>
                <textarea class="form-control" rows="3" id="project-content"
                          name="content" readonly></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="project-type">课题类型&nbsp;&nbsp;</label>
                <input type="text" class="form-control" id="project-type" name="type" readonly>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 hide" id="old-file">

              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label>通过&nbsp;&nbsp;</label>
                <select class="form-control" name="isPass">
                  <option value="1">通过</option>
                  <option value="0">不通过</option>
                </select>
              </div>
            </div>


            <div class="row" th:if="{session.user.role} != 'director'">
              <div class="col-md-12">
                <label>评分&nbsp;&nbsp;</label>
                <input id="verify-grade" type="text" class="form-control" name="score">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label>评语&nbsp;&nbsp;</label>
                <input id="verify-comment" type="text" class="form-control" name="comment">
              </div>
            </div>

          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="verifySubmit" type="button" class="btn btn-primary"
                onclick="projectApplyVerify()">提交
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</body>

</html>