.not-time{
    background-color: #bdbdbd;
    color: black;
    box-shadow:inset 0 1px 0 rgba(0,0,0,.15)
}
.progress{
    height: 40px;
    overflow: visible;
    padding-left: 1%;
}
.progress-bar{
    margin-right: 1%;
}

.dl-horizontal{
    font-size: 16px;
}

.dl-horizontal dt{
    margin-bottom: 10px;
}
.dl-horizontal dd{
}