body {
  background-color: #2dc0ca;
  background-image: url("http://ncu.co.cnki.net/Themes/default/images/loginBg.jpg");
  background-repeat: no-repeat;
  height:100%;
  width:100%;
  overflow: hidden;
  background-size:cover;
}
.main {
  margin: 40px;
}
.row {
  margin-bottom: 20px;
}

.login-logo img {
  vertical-align: middle;
  height: 80px
}

.login-logo h2 {
  font-family: 楷体;
  display: inline;
  vertical-align: middle;
}

.login-form {
  background: #fff;
  padding-top: 30px;
  border-radius: 5px;
}

.login-form .title {
  text-align: center;
  font-weight: 800;
  margin-top: -5px;
  margin-bottom: 20px;
}

.login-form .code img {
  width: 70px;
  height: 35px;
}

.login-form .login {
  text-align: center;
}

.login-form .btn {
  margin: 10px 0;
  width: 200px;
}

.bulletin {
  margin-right: 90px;
}

.bulletin .title {
  font-size: 20px;
}

.bulletin .time {
  float: right;
  font-size: 14px;
  color: #999;
}

@media (min-width: 768px) {
  .index-logo img {
    width: 80px;
    height: 80px;
  }
  .index-logo h2 {
    margin-left: 10px;
    font-size: 50px;
    font-weight: 1000;
  }
  .system-name {
    font-size: 36px;
  }
  .more-bulletin {
    line-height: 30px;
    float: right;
  }
  .login-form .title {
    font-size: 24px;
  }
  .login-form .code {
    padding-left: 0px;
  }
}

@media (max-width: 768px) {
  .index-logo img {
    width: 50px;
    height: 50px;
  }
  .index-logo h2 {
    margin-left: 5px;
    font-size: 30px;
    font-weight: 500;
  }
  .system-name {
    font-size: 23px;
  }
  .more-bulletin {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
  }
}
