<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <meta charset="UTF-8">
  <title>我的选题情况</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/share.css">

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/share.js"></script>
  <script src="/js/jqueryForm.js"></script>

  <script src="/js/transition.min.js"></script>

</head>

<body>
<div class="container-fluid main">
  <!--顶部-->
  <div th:replace="head::head">

  </div>



  <div class="row">
    <!-- 左侧菜单 -->
    <div th:insert="leftMenu::leftMenuSelect">

    </div>

    <!-- 我的选题情况 -->
    <div class="col-md-7">
      <div class="row">
      <div class="col-md-12 common view">

        <p class="title">我的选题</p>

        <hr>
        <div class="table-responsive view">
          <table class="table">
            <thead>
            <tr>
              <th class="project-name">课题名</th>
              <th th:text="${session.user.role} == 'student' ? '指导老师':'学生'"></th>
              <th >选题结果</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="projectSelect:${projectSelects}">
              <td th:text="${projectSelect.pname}" th:title="${projectSelect.pname}"></td>
              <td>
                <a th:if="${session.user.role} == 'student'" th:href="@{'/user/info/'+${projectSelect.creatorNo}+'?role=teacher'}"
                   th:text="${projectSelect.creatorName}" th:title="${projectSelect.creatorName}">
                </a>
                <a th:if="${session.user.role} == 'teacher'" th:href="@{'/user/info/'+${projectSelect.creatorNo}+'?role=student'}"
                   th:text="${projectSelect.creatorName}" th:title="${projectSelect.creatorName}">
                </a>
              </td>
              <td th:if="${projectSelect.result} == 1" class="text-success">已通过</td>
              <td th:if="${projectSelect.result} == 2" class="text-warning">待审核</td>
              <td th:if="${projectSelect.result} == 0" class="text-danger">被拒绝</td>
              <td>
                <a th:href="@{'/project/'+${projectSelect.pno}}">查看课题详情</a>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
      </div>
    </div>


  </div>


</div>



</body>

</html>