<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <meta charset="UTF-8">
  <title>师生互选</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/share.css">

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/share.js"></script>
  <script src="/js/jqueryForm.js"></script>
  <script src="/js/transition.min.js"></script>

  <script>
    function selectProject(e) {
      var pno = $(e).attr('data-pno');
      var pname = $(e).attr('data-pname');
      $.ajax({
        url: '/project/select?pno=' + pno,
        success: function (data) {
          if (data.code == 200) {
            alert("报名成功");
          } else {
            alert(data.message);
          }
        }
      })
    }

    function getProjectList(e) {
      $("#hide-page").val($("#page").val());
      var page = $(e).attr("data-page");
      if (page) {
        $("#hide-page").val(page);
      }
      $('#getProjectView').submit();
    }

    function changeVal(e) {
      $(e).attr("value", $(e).val());
    }

  </script>
</head>

<body>
<div class="container-fluid main">
  <!--  顶部-->
  <div th:replace="head::head">

  </div>

  <div class="row ">
    <!-- 左侧菜单 -->
    <div th:insert="leftMenu::leftMenuSelect">

    </div>

    <!-- 可选课题 -->
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12 common view clearfix" style="margin-bottom: 40px">

          <p class="title">可选课题</p>
          <p>* 选择时间为 <span th:text="${projectPlan.projectSelectTime}"></span></p>

          <hr>
          <div class="view">
            <form action="/project/projectSelectView" id="getProjectView" class="form-inline"
                  style="margin-bottom: 10px">
              <input id="hide-page" type="text" class="hide" name="page">
              <div class="form-group">
                <label for="pname">课题</label>
                <input class="form-control" id="pname" type="text" name="pname"
                       th:value="${projectSearchDTO.pname}" onclick="changeVal(this)">
              </div>
              <div class="form-group">
                <label for="creatorName">创建者</label>
                <input class="form-control" id="creatorName" type="text" name="creatorName"
                       th:value="${projectSearchDTO.creatorName}" onclick="changeVal(this)">
              </div>
              <div class="form-group">
                <label for="type">类型</label>
                <input class="form-control" id="type" type="text" name="type"
                       th:value="${projectSearchDTO.type}"
                       onclick="changeVal(this)">
              </div>
              <div class="form-group">
                <label for="tags">标签</label>
                <input class="form-control" id="tags" type="text" name="tags"
                       th:value="${projectSearchDTO.tags}" onclick="changeVal(this)">
              </div>
              <button class="btn btn-primary" type="button" onclick="getProjectList()">搜索</button>
            </form>
          </div>
          <div class="table-responsive view">
            <table class="table">
              <thead>
              <tr>
                <th class="project-name">课题名</th>
                <th>题目类型</th>
                <th th:text="${session.user.role} == 'student' ? '指导老师':'学生'"></th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="project:${projects.data}">
                <td th:text="${project.pname}" th:title="${project.pname}"></td>
                <td th:text="${project.type}">未知</td>
                <td>
                  <a th:if="${session.user.role} == 'student'" th:href="@{'/user/info/'+${project.creatorNo}+'?role=teacher'}"
                       th:text="${project.creatorName}" th:title="${project.creatorName}">
                  </a>
                  <a th:if="${session.user.role} == 'teacher'" th:href="@{'/user/info/'+${project.creatorNo}+'?role=student'}"
                     th:text="${project.creatorName}" th:title="${project.creatorName}">
                  </a>
                </td>
                <td>
                  <a th:href="@{'/project/'+${project.pno}}">查看详情</a>
                  <a class="btn-link" th:data-pno="${project.pno}" role="button"
                     onclick="selectProject(this)">报名
                  </a>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
          <div class="pull-left">
            <a onclick="getProjectList(this)" th:data-page="1"
               class="more btn-link">首页
            </a>&nbsp;&nbsp;
            <a th:classappend="${projects.page} > 1 ? '':'disabled'" onclick="getProjectList(this)"
               th:data-page="${projects.page}-1" role="button" class="more btn btn-link">上一页
            </a>&nbsp;&nbsp;
            <input class="pagination-num" id="page" type="text" th:value="${projects.page}"
                   role="button"
                   size="2" name="page"
                   onmousedown="if(event.keyCode==13){getProjectList()}">&nbsp;&nbsp;
            <a th:classappend="${projects.page} >= ${projects.totalPage} ?'disabled':''"
               role="button"
               onclick="getProjectList(this)" th:data-page="${projects.page}+1"
               class="more btn btn-link">下一页
            </a>&nbsp;&nbsp;
            <a onclick="getProjectList(this)" th:data-page="${projects.totalPage}" role="button"
               class="more btn-link">尾页
            </a>&nbsp;&nbsp;
          </div>
        </div>
      </div>
    </div>


  </div>


</div>


</body>

</html>