<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <meta charset="UTF-8">
  <title>小组课题</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/share.css">

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/share.js"></script>
  <script src="/js/jqueryForm.js"></script>
  <script src="/js/transition.min.js"></script>

  <script>
    function oralExamScore() {
      $('#oralExamScoreForm').ajaxSubmit({
        beforeSubmit: function () {
        },
        success: function (data) {
          if (data.code == 200) {
            alert("审核成功");
            setTimeout(function () {
              window.location.reload();
            }, 500);
          } else {
            alert("审核失败, 请重试");
          }
        },

      });
    }

    function score(e) {
      var sno = $(e).attr('data-sno');
      $("#sno").val(sno);
      $('#myModal').modal({
        keyboard: false
      });
    }

    //移除添加的文件数据
    $('#myModal').on('hidden.bs.modal', function (e) {
      $("#old-file").addClass("hide");
      $("#old-file").empty();
    })

    //搜索表单
    function getOralExamList(e) {
      $("#hide-page").val($("#page").val());
      var page = $(e).attr("data-page");
      if (page) {
        $("#hide-page").val(page);
      }
      $('#getOralExamView').submit();
    }

    function changeVal(e) {
      $(e).attr("value", $(e).val());
    }
  </script>
</head>

<body>
<div class="container-fluid main">
  <!--顶部-->
  <div th:insert="head::head">

  </div>


  <div class="row">
    <!-- 左侧菜单 -->
    <div th:insert="leftMenu::leftMenuOralExam">

    </div>

    <!-- 小组所负责的学生 -->
    <div class="row">
      <div class="col-md-7 common view clearfix" style="margin-bottom: 40px">

        <p class="title">小组课题</p>

        <hr>
        <form action="/teacher/examGroupStu" id="getOralExamView" class="form-inline">
          <input id="hide-page" type="text" class="hide" name="page">
          <div class="form-group">
            <label for="pname">课题</label>
            <input id="pname" type="text" name="pname" th:value="${oralExamSearchDTP.pname}"
                   onclick="changeVal(this)">
          </div>
          <div class="form-group">
            <label for="sname">学生姓名</label>
            <input id="sname" type="text" name="sname"
                   th:value="${oralExamSearchDTP.sname}" onclick="changeVal(this)">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="button" onclick="getOralExamList()">搜索</button>
          </div>
        </form>
        <div class="table-responsive view">
          <table class="table">
            <thead>
            <tr>
              <th class="project-name">课题名</th>
              <th>学生名</th>
              <th>论文</th>
              <th>文件操作</th>
              <th>分数</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project:${groupStus.data}">
              <td th:text="${project.pname}">
              <td th:text="${project.sname}"></td>
              <td>
                <a th:if="${project.thesis} != null"
                   th:text="${#strings.arraySplit(project.thesis,'#')[1]}"
                   th:href="@{/download(filePath=${project.thesis},fileType='thesis')}">
                </a>
              </td>
              <td>
                <a th:if="${project.thesis} != null"
                   th:href="@{/readOnline(filePath=${project.thesis},fileType='thesis')}">在线浏览</a>
              </td>
              <td th:text="${project.score} != null ? ${project.score}:'未打分'"></td>
              <td>
                <a th:if="${project.score} == null" onclick="score(this)"
                   th:data-sno="${project.sno}">打分</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="pull-left" th:if="${groupStus.totalPage} > 1">
          <a onclick="getOralExamList(this)" th:data-page="1" class="more">首页</a>&nbsp;&nbsp;
          <a th:classappend="${groupStus.page} > 1 ?'':'disabled'" onclick="getOralExamList(this)"
             th:data-page="${groupStus.page}-1" class="more">上一页</a>&nbsp;&nbsp;
          <input class="pagination-num" id="page" type="text" th:value="${groupStus.page}"
                 size="2" name="page"
                 onmousedown="if(event.keyCode==13){getOralExamList()}">&nbsp;&nbsp;
          <a th:classappend="${groupStus.page} < ${groupStus.totalPage} ?'':'disabled'"
             onclick="getOralExamList(this)" th:data-page="${groupStus.page}+1"
             class="more">下一页</a>&nbsp;&nbsp;
          <a onclick="getOralExamList(this)" th:data-page="${groupStus.totalPage}"
             class="more">尾页</a>&nbsp;&nbsp;
        </div>
      </div>
    </div>


  </div>
</div>

<!-- 答辩评分框 -->
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">答辩评分</h4>
      </div>
      <div class="modal-body">

        <div class="col-md-12 common">
          <form id="oralExamScoreForm" class="form-inline form" action="/teacher/examGroupScore"
                method="post"
                enctype="multipart/form-data">
            <input type="text" class="hide" id="sno" name="sno">


            <div class="row">
              <div class="col-md-12">
                <label>评分&nbsp;&nbsp;</label>
                <input id="verify-grade" type="text" class="form-control" name="score">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label>评语&nbsp;&nbsp;</label>
                <input id="verify-comment" type="text" class="form-control" name="comment">
              </div>
            </div>

          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="verifySubmit" type="button" class="btn btn-primary"
                onclick="oralExamScore()">提交
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</body>

</html>