<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncu.graduation.mapper.DocumentExtMapper">


<!-- 先找到当前学年已完成的任务书的课题号, 然后使用not in查找当前学年的未完成的课题号 -->
  <select id="getUndoneTaskBook" resultType="java.lang.String">
    SELECT psr.pno
    FROM project_select_result psr LEFT JOIN project_apply pa ON psr.pno = pa.pno
    WHERE psr.pno NOT IN (
        SELECT tb.pno
        FROM task_book tb LEFT JOIN project_apply pa ON tb.pno = pa.pno
        WHERE pa.school_year = #{schoolYear}
    ) AND pa.school_year = #{schoolYear};
  </select>


  <!-- 先找到当前学年已完成的外文资料的课题号, 然后使用not in查找当前学年的未完成的课题号 -->
  <select id="getUndoneForeignLiterature" resultType="java.lang.String">
    SELECT psr.pno
    FROM project_select_result psr LEFT JOIN project_apply pa ON psr.pno = pa.pno
    WHERE psr.pno NOT IN (
        SELECT fl.pno
        FROM foreign_literature fl LEFT JOIN project_apply pa ON fl.pno = pa.pno
        WHERE pa.school_year = #{schoolYear}
    ) AND pa.school_year = #{schoolYear};
  </select>


  <!-- 先找到当前学年已完成的开题报告的课题号, 然后使用not in查找当前学年的未完成的课题号 -->
  <select id="getUndoneOpenReport" resultType="java.lang.String">
    SELECT psr.pno
    FROM project_select_result psr LEFT JOIN project_apply pa ON psr.pno = pa.pno
    WHERE psr.pno NOT IN (
        SELECT open_report.pno
        FROM open_report LEFT JOIN project_apply pa ON open_report.pno = pa.pno
        WHERE pa.school_year = #{schoolYear}
    ) AND pa.school_year = #{schoolYear};
  </select>


  <!-- 先找到当前学年已完成的任务书的课题号, 然后使用not in查找当前学年的未完成的课题号 -->
  <select id="getUndoneThesis" resultType="java.lang.String">
    SELECT psr.pno
    FROM project_select_result psr LEFT JOIN project_apply pa ON psr.pno = pa.pno
    WHERE psr.pno NOT IN (
        SELECT thesis.pno
        FROM thesis LEFT JOIN project_apply pa ON thesis.pno = pa.pno
        WHERE pa.school_year = #{schoolYear}
    ) AND pa.school_year = #{schoolYear};
  </select>




</mapper>