<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncu.graduation.mapper.ProjectExtMapper">


  <resultMap id="ProjectTwotuple" type="com.ncu.graduation.util.BlindDistribution$ProjectTwotuple">
    <result column="no" jdbcType="VARCHAR" property="pno" />
    <result column="teacher_no" jdbcType="TINYINT" property="teacherNo" />
  </resultMap>


  <select id="getProjectNoAndTno" resultMap="ProjectTwotuple">
    select pno,tno from
    project
  </select>

</mapper>