<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <meta charset="UTF-8">
  <title>外文资料</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/share.css">
  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/share.js"></script>
  <script src="/js/jqueryForm.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/transition.min.js"></script>

  <script>
    //显示提交框, 并设置oldfile, 判断是否是第一次提交
    function showForeignLiteratureModel(e) {
      if (e == 1) {
        $("#foreignLiterature-oldFile").val(1);
        $('#foreignLiteratureModel').modal('show');
      } else {
        $('#foreignLiteratureModel').modal('show');
      }
    }

    //提交外文资料
    function foreignLiteratureSubmit() {
      $('#foreignLiteratureForm').ajaxSubmit({
        beforeSubmit: function () {
        },
        success: function (data) {
          if (data.code == 200) {
            alert("提交成功");
            setTimeout(function () {
              window.location.reload();
            }, 500);
          } else {
            alert(data.message);
          }
        },

      });
    }

    //获取外文资料记录
    function getForeignLiteratureRecord(e) {
      var pno = $(e).attr('data-pno');
      $.ajax({
        url: '/student/foreignLiterature/record?pno=' + pno,
        dataType: 'json',
        success: function (data) {
          if (data.code == 200) {
            $.each(data.data, function (i, data) {
              var isPass;
              if (data.isPass == 1) {
                isPass = "<td class='text-success'>通过</td>";
              } else if (data.isPass == 2) {
                isPass = "<td class='text-danger'>待审</td>";
              } else if (data.isPass == 0) {
                isPass = "<td class='text-danger'>回拒</td>";
              }
              $("#foreignLiteratureRecordTable").append(
                  "<tr>" +
                  "<td>" +
                  "<a href='/download?filePath=" + data.foreignFile.toString().replace('#',
                  "%23") + "&fileType=openReport' " +
                  "title='" + data.foreignFile.toString().split('#')[1] + "'>" +
                  data.foreignFile.toString().split('#')[1] +
                  "</a>" +
                  "</td>" +
                  "<td><a href='/download?filePath=" + data.translationFile.toString().replace('#',
                  "%23") + "&fileType=openReport' title='" + data.translationFile.toString().split(
                  '#')[1] + "'>" + data.translationFile.toString().split('#')[1]
                  + "</a></td>" +
                  isPass +
                  "<td>" + data.trialGrade + "</td>" +
                  "<td title='" + data.trialComment + "' >" + data.trialComment + "</td>" +
                  "<td>" + moment(data.gmtCreate).format('YYYY-MM-DD') + "</td>" +
                  "</tr>");
            });
          }

        }
      })
      $('#foreignLiteratureRecordModel').modal('show');
    }

    $(function () {
      $('#foreignLiteratureRecordModel').on('hide.bs.modal',
          function () {
            $("#foreignLiteratureRecordTable").empty();
          })
    });

  </script>

</head>

<body>
<div class="container-fluid main">
  <!--顶部-->
  <div th:replace="head::head">

  </div>

  <div class="row">
    <!-- 左侧菜单 -->
    <div th:insert="leftMenu::leftMenuDocument">

    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12 common view">
          <p class="title">课题信息</p>
          <hr>
          <dl class="dl-horizontal">
            <dt>课题名：</dt>
            <dd>
              <input class="form-control" style="margin-bottom: 5px" type="text"
                     th:placeholder="${stuForeignLiterature.project.pname}" readonly>
            </dd>
            <dt>课题内容：</dt>
            <dd>
            <textarea class="form-control" th:placeholder="${stuForeignLiterature.project.content}"
                      rows="3" readonly></textarea>
            </dd>
            <dt>课题类型：</dt>
            <dd th:text="${stuForeignLiterature.project.type}">

            </dd>
            <dt>课题文件：</dt>
            <dd>
              <p>
                <a th:href="@{/download(filePath=${stuForeignLiterature.project.filePath},fileType='project')}"><span
                    th:text="${#strings.arraySplit(stuForeignLiterature.project.filePath,'#')[1]}"></span></a>
                &nbsp;&nbsp;
                <a th:href="@{/readOnline(filePath=${stuForeignLiterature.project.filePath},fileType='project')}">在线浏览</a>
              </p>
            </dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 common view">
          <p class="title">外文资料</p>
          <p>* 提交时间为 <span th:text="${projectPlan.foreignLiteratureTime}"></span></p>

          <hr>
          <dl class="dl-horizontal" th:if="${stuForeignLiterature.document} != null">
            <dt>外文原文：</dt>
            <dd>
              <p>
                <a th:href="@{/download(filePath=${stuForeignLiterature.document.foreignFile},fileType='foreignLiterature')}"><span
                    th:text="${#strings.arraySplit(stuForeignLiterature.document.foreignFile,'#')[1]}"></span></a>
                &nbsp;&nbsp;
                <a th:href="@{/readOnline(filePath=${stuForeignLiterature.document.foreignFile},fileType='foreignLiterature')}">在线浏览</a>
              </p>
            </dd>
            <dt>外文译文：</dt>
            <dd>
              <p>
                <a th:href="@{/download(filePath=${stuForeignLiterature.document.translationFile},fileType='foreignLiterature')}"><span
                    th:text="${#strings.arraySplit(stuForeignLiterature.document.translationFile,'#')[1]}"></span></a>
                &nbsp;&nbsp;
                <a th:href="@{/readOnline(filePath=${stuForeignLiterature.document.translationFile},fileType='foreignLiterature')}">在线浏览</a>
              </p>
            </dd>
            <dt>审核状态：</dt>
            <dd th:if="${stuForeignLiterature.document.isPass} == 0" class="text-danger">未通过</dd>
            <dd th:if="${stuForeignLiterature.document.isPass} == 1" class="text-success">已通过</dd>
            <dd th:if="${stuForeignLiterature.document.isPass} == 2" class="text-warning">待审核</dd>
            <dt>审核评分：</dt>
            <dd th:text="${stuForeignLiterature.document.isPass}!= 2 ? ${stuForeignLiterature.document.trialGrade}:'未审核'"></dd>
            <dt>审核评语：</dt>
            <dd th:text="${stuForeignLiterature.document.isPass}!= 2 ? ${stuForeignLiterature.document.trialComment}:'未审核'"></dd>
          </dl>
          <a th:if="${stuForeignLiterature.document} == null and ${session.user.role} == 'student'"
             type="button"
             class="btn btn-primary"
             onclick="showForeignLiteratureModel(0)">提交
          </a>
          <a th:if="${stuForeignLiterature.document} != null and ${session.user.role} == 'student'"
             th:classappend="${stuForeignLiterature.document.modifiable} == 1 ? '':'disabled'"
             type="button"
             class="btn btn-primary"
             onclick="showForeignLiteratureModel(1)">重新提交
          </a>
          <button th:if="${stuForeignLiterature.document} != null" type="button"
                  class="btn btn-primary"
                  th:data-pno="${stuForeignLiterature.document.pno}"
                  onclick="getForeignLiteratureRecord(this)">查看历史审核
          </button>
        </div>

      </div>

    </div>
  </div>
</div>


<!-- 提交外文资料表单 -->
<div class="modal fade" tabindex="-1" role="dialog" id="foreignLiteratureModel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">提交外文资料</h4>
      </div>
      <div class="modal-body">

        <div class="col-md-12 common">
          <form id="foreignLiteratureForm" class="form-inline form" method="post"
                action="/student/foreignLiterature/submit"
                enctype="multipart/form-data">
            <input type="text" class="hide" id="document-id" name="id"
                   th:if="${stuForeignLiterature.document}"
                   th:value="${stuForeignLiterature.document.id}">
            <input type="text" class="hide" id="foreignLiterature-oldFile" name="oldFile">
            <div class="row">
              <div class="col-md-12">
                <label for="foreignFile">外文原文&nbsp;&nbsp;</label>
                <input type="file" class="form-control" id="foreignFile" name="foreignFile">
              </div>
              <div class="col-md-12">
                <label for="translationFile">外文译文&nbsp;&nbsp;</label>
                <input type="file" class="form-control" id="translationFile" name="translationFile">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          取消
        </button>
        <button id="foreignLiteratureBtn" type="button" class="btn btn-primary"
                onclick="foreignLiteratureSubmit()">提交
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--审核记录-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
     id="foreignLiteratureRecordModel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">历史审核</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12 common table-responsive">
          <table class="table" id="foreignLiteratureRecord">
            <thead>
            <tr>
              <th>原文</th>
              <th>译文</th>
              <th class="short">结果</th>
              <th class="short">分数</th>
              <th class="trialComment">评语</th>
              <th class="middle">审核时间</th>
            </tr>
            </thead>
            <tbody id="foreignLiteratureRecordTable">
            </tbody>
          </table>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          确定
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>

</html>