<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>任务书</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/share.css">
  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/share.js"></script>

</head>

<body>
<div class="container-fluid main">
  <!--顶部-->
  <div th:insert="head::head">

  </div>


  <div class="row">
    <!-- 左侧菜单 -->
    <div th:insert="leftMenu::leftMenuDocument">

    </div>

<!--  学生任务书  -->
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12 common view">
          <p class="title">课题信息</p>
          <hr>
          <dl class="dl-horizontal">
            <dt>课题名：</dt>
            <dd>
              <input class="form-control" style="margin-bottom: 5px" type="text"
                     th:placeholder="${stuTaskBook.project.pname}" readonly>
            </dd>
            <dt>课题内容：</dt>
            <dd>
            <textarea class="form-control" th:placeholder="${stuTaskBook.project.content}"
                      rows="3" readonly></textarea>
            </dd>
            <dt>课题类型：</dt>
            <dd th:text="${stuTaskBook.project.type}">

            </dd>
            <dt>课题文件：</dt>
            <dd>
              <p>
                <a th:href="@{/download(filePath=${stuTaskBook.project.filePath},fileType='project')}"><span
                    th:text="${#strings.arraySplit(stuTaskBook.project.filePath,'#')[1]}"></span></a>
                &nbsp;&nbsp;
                <a th:href="@{/readOnline(filePath=${stuTaskBook.project.filePath},fileType='project')}">在线浏览</a>
              </p>
            </dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 common view">
          <p class="title">任务书</p>
          <hr>
          <dl class="dl-horizontal" th:if="${stuTaskBook.document} != null">
            <dt>任务书：</dt>
            <dd>
              <p>
                <a th:href="@{/download(filePath=${stuTaskBook.document.filePath},fileType='taskBook')}"><span
                    th:text="${#strings.arraySplit(stuTaskBook.document.filePath,'#')[1]}"></span></a>
                &nbsp;&nbsp;
                <a th:href="@{/readOnline(filePath=${stuTaskBook.document.filePath},fileType='taskBook')}">在线浏览</a>
              </p>
            </dd>
          </dl>
        </div>
      </div>

    </div>
  </div>
</div>

</body>

</html>