<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <meta charset="UTF-8">
  <title>外文资料</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/share.css">

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/share.js"></script>
  <script src="/js/jqueryForm.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/transition.min.js"></script>

  <script>

    //审核外文资料
    function foreignLiteratureVerify() {
      $('#foreignLiteratureVerifyForm').ajaxSubmit({
        beforeSubmit: function () {
        },
        success: function (data) {
          if (data.code == 200) {
            alert("审核成功");
            setTimeout(function () {
              window.location.reload();
            }, 500);
          } else {
            alert(data.message);
          }
        },

      });
    }

    //评分弹出框
    function getProject(e) {
      $("#dno").val($(e).attr('data-dno'));
      $("#foreignFile").val($(e).attr('data-foreignFile'));
      $("#translationFile").val($(e).attr('data-translationFile'));
      $('#myModal').modal({
        keyboard: false
      });
    }

    //获取外文资料审核记录
    function getForeignLiteratureRecord(e) {
      var fno = $(e).attr('data-fno');
      $.ajax({
        url: '/student/foreignLiterature/record?fno=' + fno,
        dataType: 'json',
        success: function (data) {
          if (data.code == 200) {
            $.each(data.data, function (i, data) {
              var isPass;
              if (data.isPass == 1) {
                isPass = "<td class='text-success'>通过</td>";
              } else if (data.isPass == 2) {
                isPass = "<td class='text-danger'>待审</td>";
              } else if (data.isPass == 0) {
                isPass = "<td class='text-danger'>回拒</td>";
              }
              $("#foreignLiteratureRecordTable").append(
                  "<tr>" +
                  "<td> <a href='/download?filePath=" + data.foreignFile.toString().replace('#',
                  "%23") + "&fileType=foreignFile'>" + data.foreignFile.toString().split('#')[1]
                  + "</a></td>" +
                  "<td> <a href='/download?filePath=" + data.translationFile.toString().replace('#',
                  "%23") + "&fileType=translationFile'>" + data.translationFile.toString().split('#')[1]
                  + "</a></td>" +
                  isPass +
                  "<td>" + data.trialGrade + "</td>" +
                  "<td>" + data.trialComment + "</td>" +
                  "<td>" + moment(data.gmtCreate).format('YYYY-MM-DD') + "</td>" +
                  "</tr>");
            });
          }
          else{
            alert(data.message);
          }
        }
      })

      $('#foreignLiteratureRecordModel').modal({
        keyboard: false
      });
    }

    $(function () {
      $('#foreignLiteratureRecordModel').on('hide.bs.modal',
          function () {
            $("#foreignLiteratureRecordTable").empty();
          })
    });
  </script>
</head>

<body>
<div class="container-fluid main">
  <!--顶部-->
  <div th:insert="head::head">

  </div>


  <div class="row">
    <!-- 左侧菜单 -->
    <div th:insert="leftMenu::leftMenuDocument">

    </div>

    <!-- 外文资料 -->
    <div class="row">
      <div class="col-md-7 common view">

        <p class="title">外文资料</p>
        <p>* 提交时间为 <span th:text="${projectPlan.foreignLiteratureTime}"></span></p>

        <hr>
        <div class="table-responsive view">
          <table class="table">
            <thead>
            <tr>
              <th class="project-name">课题名</th>
              <th>学生</th>
              <th>外文原文</th>
              <th>外文译文</th>
              <th>审核结果</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="foreignLiterature:${teaForeignLiterature}">
              <td th:text="${foreignLiterature.pname}"></td>

              <td th:text="${foreignLiterature.sname}"></td>

              <td th:if="${foreignLiterature.document} != null">
                <a th:text="${#strings.arraySplit(foreignLiterature.document.foreignFile,'#')[1]}"
                   th:href="@{/download(filePath=${foreignLiterature.document.foreignFile},fileType='foreignLiterature')}"></a>
                <a th:if="${foreignLiterature.document} != null"
                   th:href="@{/readOnline(filePath=${foreignLiterature.document.foreignFile},fileType='foreignLiterature')}">在线浏览</a>
              </td>
              <td th:if="${foreignLiterature.document} == null">未提交</td>
              <td th:if="${foreignLiterature.document} != null">
                <a th:text="${#strings.arraySplit(foreignLiterature.document.translationFile,'#')[1]}"
                   th:href="@{/download(filePath=${foreignLiterature.document.translationFile},fileType='foreignLiterature')}"></a>
                <a th:if="${foreignLiterature.document} != null"
                   th:href="@{/readOnline(filePath=${foreignLiterature.document.translationFile},fileType='foreignLiterature')}">在线浏览</a>
              </td>
              <td th:if="${foreignLiterature.document} == null">未提交</td>

              <!--              审核结果-->
              <td th:if="${foreignLiterature.document} == null">未提交</td>

              <td th:if="${foreignLiterature.document} != null and ${foreignLiterature.document.isPass} == 1" class="text-success">
                已通过
              </td>
              <td th:if="${foreignLiterature.document} != null and ${foreignLiterature.document.isPass} == 2" class="text-warning">
                待审核
              </td>
              <td th:if="${foreignLiterature.document} != null and ${foreignLiterature.document.isPass} == 0" class="text-danger">
                已回拒
              </td>

              <td>

                <button class="btn btn-link" th:if="${foreignLiterature.document} != null"
                   th:data-dno="${foreignLiterature.document.fno}"
                   th:data-foreignFile="${foreignLiterature.document.foreignFile}"
                   th:data-translationFile="${foreignLiterature.document.translationFile}"
                   onclick="getProject(this)">审核</button>
                <button class="btn btn-link" onclick="getForeignLiteratureRecord(this)"
                   th:if="${foreignLiterature.document} != null"
                   th:data-fno="${foreignLiterature.document.fno}">历史审核</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
</div>

<!-- 课题信息弹出框 -->
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">审核外文资料</h4>
      </div>
      <div class="modal-body">

        <div class="col-md-12 common">
          <form id="foreignLiteratureVerifyForm" class="form-inline form"
                action="/teacher/foreignLiterature/verify" method="post"
                enctype="multipart/form-data">
            <input type="text" class="hide" id="dno" name="dno">
            <input type="text" class="hide" id="foreignFile" name="filePath">
            <input type="text" class="hide" id="translationFile" name="translationFile">

            <div class="row">
              <div class="col-md-12">
                <label>通过&nbsp;&nbsp;</label>
                <select class="form-control" name="isPass">
                  <option value="1">通过</option>
                  <option value="0">不通过</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label>评分&nbsp;&nbsp;</label>
                <input id="verify-grade" type="text" class="form-control" name="score">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label>评语&nbsp;&nbsp;</label>
                <input id="verify-comment" type="text" class="form-control" name="comment">
              </div>
            </div>

          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="foreignLiteratureVerify()">提交
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--历史审核记录-->
<div class="modal fade" tabindex="-1" role="dialog" id="foreignLiteratureRecordModel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">历史审核</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12 common">
          <table class="table" id="foreignLiteratureRecord">
            <thead>
            <tr>
              <th>原文</th>
              <th>译文</th>
              <th>结果</th>
              <th>分数</th>
              <th>评语</th>
              <th>时间</th>
            </tr>
            </thead>
            <tbody id="foreignLiteratureRecordTable">
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          确定
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</body>

</html>