<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <meta charset="UTF-8">
  <title>开题报告</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/share.css">

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/share.js"></script>
  <script src="/js/jqueryForm.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/transition.min.js"></script>


  <script>
    function openReportVerify() {
      $('#openReportVerifyForm').ajaxSubmit({
        beforeSubmit: function () {
        },
        success: function (data) {
          if (data.code == 200) {
            alert("审核成功");
            setTimeout(function () {
              window.location.reload();
            }, 500);
          } else {
            alert(data.message);
          }
        },

      });
    }

    function getProject(e) {
      var pno = $(e).attr('data-pno');
      var isBlind = $(e).attr('data-isBlind');

      $("#pno").val(pno);
      $("#isBlind").val(isBlind);

      $.ajax({
        url: '/project/simple/' + pno,
        dataType: 'json',
        success: function (data) {
          if (data.code == 200) {
            $("#project-pno").val(data.data.pno + "");
            $("#project-pname").val(data.data.pname + "");
            $("#project-content").val(data.data.content + "");
            $("#project-type").val(data.data.type + "");
            var filePath = data.data.filePath + "";
            var filePathUrl = filePath.replace("#", "%23");
            $("#old-file").append(
                "<input class='hide' type='text' id='oldFilePath' name='oldFilePath' value='"
                + filePath + "'>"
                + " <p>\n"
                + "&nbsp;&nbsp;课题文档\n"
                + "<a href=\"/download?filePath=" + filePathUrl + "&fileType=project\"><span>"
                + filePath.split('#')[1] + "</span></a>\n"
                + "&nbsp;&nbsp;\n"
                + "<a href=\"/readOnline?filePath=" + filePathUrl
                + "&fileType=project\">在线浏览</a>\n"
                + "\n"
                + "</p>");
            $('#myModal').modal({
              keyboard: false
            });
          } else {
            alert(data.message)
          }

        }
      })
    }

    //盲审打分回显
    function getOpenRecordScore(e) {
      var pno = $(e).attr('data-pno');
      var isBlind = $(e).attr('data-isBlind');

      $("#pno").val(pno);
      $("#isBlind").val(isBlind);
      $.ajax({
        url: '/project/simple/' + pno,
        dataType: 'json',
        success: function (data) {
          if (data.code == 200) {
            if (isBlind == 1 && data.data.blindTrialGrade != null) {
              $("#verify-grade").val(data.data.blindTrialGrade);
              $("#verify-comment").val(data.data.blindTrialComment);
              $("#verify-grade").attr('readonly', '');
              $("#verify-comment").attr('readonly', '');
              $("#verifySubmit").remove();
            }
            $('#verifyScore').modal({
              keyboard: false
            });
          } else {
            alert(data.message)
          }

        }
      })
    }

    //移除添加的数据
    $(function () {
      $('#myModal').on('hide.bs.modal',
          function () {
            $("#old-file").empty();
          })
    });

    //获取开题报告记录
    function getOpenReportRecord(e) {
      var pno = $(e).attr('data-pno');
      $.ajax({
        url: '/student/openReport/record?pno=' + pno,
        dataType: 'json',
        success: function (data) {
          if (data.code == 200) {
            $.each(data.data, function (i, data) {
              var isPass;
              if (data.isPass == 1) {
                isPass = "<td class='text-success'>通过</td>";
              } else if (data.isPass == 2) {
                isPass = "<td class='text-danger'>待审</td>";
              } else if (data.isPass == 0) {
                isPass = "<td class='text-danger'>回拒</td>";
              }
              $("#openReportRecordTable").append(
                  "<tr>" +
                  "<td> <a href='/download?filePath=" + data.filePath.toString().replace('#', "%23")
                  + "&fileType=openReport' title='" + data.filePath.toString().split('#')[1] + "'>"
                  + data.filePath.toString().split('#')[1] + "</a></td>"
                  + isPass + "<td>" + data.trialGrade + "</td>" +
                  "<td title='" + data.trialComment + "'>" + data.trialComment + "</td>" +
                  "<td>" + moment(data.gmtCreate).format('YYYY-MM-DD') + "</td>" +
                  "</tr>");
            });
          } else {
            alert(data.message);
          }

        },
      })

      $('#openReportRecordModel').modal({
        keyboard: false
      });
    }

    //查看盲审结果
    function getBlindVerify(e) {
      $("#blind-verify-grade").val($(e).attr('data-blindGrade'));
      $("#blind-verify-comment").val($(e).attr('data-blindComment'));
      $('#blindVerifyResultModel').modal({
        keyboard: false
      });
    }

    //清除记录
    $(function () {
      $('#openReportRecordModel').on('hide.bs.modal',
          function () {
            $("#openReportRecordTable").empty();
          })
    });

    function setModifiable(e) {
      var pno = $(e).attr("data-pno");
      $.ajax({
        url: '/teacher/openReport/modifiable?pno=' + pno,
        success: function (data) {
          if (data.code == 200) {
            alert("设置成功");
            setTimeout(function () {
              window.location.reload();
            }, 500);
          } else {
            alert(data.message);
          }
        }
      })
    }
  </script>
</head>

<body>
<div class="container-fluid main">
  <!--顶部-->
  <div th:replace="head::head">

  </div>


  <div class="row">
    <!-- 左侧菜单 -->
    <div th:insert="leftMenu::leftMenuDocument">

    </div>

    <!-- 开题报告 -->
    <div class="row">
      <div class="col-md-7 common view">

        <p class="title">开题报告</p>
        <p>* 提交时间为 <span th:if="${projectPlan != null}"
                         th:text="${projectPlan.openReportTime}"></span></p>

        <hr>
        <div class="table-responsive view">
          <table class="table">
            <thead>
            <tr>
              <th class="project-name">课题名</th>
              <th th:if="${isBlind} == null">学生</th>
              <th>开题报告</th>
              <th class="middle">文档操作</th>
              <th class="short">审核结果</th>
              <th style="width: 200px">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="openReport:${teaOpenReport}">
              <td th:text="${openReport.pname}" th:title="${openReport.pname}"></td>
              <td th:if="${isBlind} == null" th:text="${openReport.sname}" th:title="${openReport.sname}"></td>
              <!--              文档-->
              <td th:if="${openReport.document} != null">
                <a th:text="${#strings.arraySplit(openReport.document.filePath,'#')[1]}"
                   th:title="${#strings.arraySplit(openReport.document.filePath,'#')[1]}"
                   th:href="@{/download(filePath=${openReport.document.filePath},fileType='openReport')}"></a>
              </td>
              <td th:if="${openReport.document} == null">未提交</td>
              <!--              文档操作-->
              <td>
                <a th:if="${openReport.document} != null"
                   th:href="@{/readOnline(filePath=${openReport.document.filePath},fileType='openReport')}">在线浏览</a>
                <a th:href="@{/download(filePath=${openReport.document.filePath},fileType='openReport')}">下载</a>
              </td>
              <td th:if="${openReport.document} == null">未提交</td>

              <!--              审核结果-->
              <td th:if="${openReport.document} == null">未提交</td>
              <td th:if="${openReport.document} != null and ${openReport.document.isPass} == 1"
                  class="text-success">
                已通过
              </td>
              <td th:if="${openReport.document} != null and ${openReport.document.isPass} == 2"
                  class="text-warning">
                待审核
              </td>
              <td th:if="${openReport.document} != null and ${openReport.document.isPass} == 0"
                  class="text-danger">
                已回拒
              </td>
              <td>
                <!--盲审情况-->
                <a class="btn-link" role="button"
                   th:if="${openReport.document} != null and ${isBlind} != null"
                   th:data-pno="${openReport.document.pno}"
                   th:data-isBlind="${isBlind}?1:0"
                   onclick="getOpenRecordScore(this)">审核</a>
                <a class="btn-link" role="button"
                   th:if="${openReport.document} != null and ${isBlind} != null"
                   th:data-pno="${openReport.document.pno}"
                   th:data-isBlind="${isBlind}?1:0"
                   onclick="getProject(this)">查看课题</a>
                <!--非盲审情况-->
                <a class="btn-link" role="button"
                   th:if="${openReport.document} != null and ${openReport.document.isPass} ==2 and ${isBlind} == null"
                   th:data-pno="${openReport.document.pno}"
                   th:data-isBlind="${isBlind}?1:0"
                   onclick="getOpenRecordScore(this)">审核</a>
                <a class="btn-link" role="button"
                   th:if="${isBlind} == null and ${openReport.document} != null "
                   onclick="getOpenReportRecord(this)"
                   th:data-pno="${openReport.document.pno}">历史审核</a>
                <a class="btn-link" role="button" onclick="setModifiable(this)"
                   th:if="${openReport.document} != null and ${isBlind} == null and ${openReport.document.modifiable} == 0"
                   th:data-pno="${openReport.document.pno}">允许修改</a>
                <a class="btn-link" role="button"
                   th:if="${isBlind} == null and ${openReport.document} != null "
                   onclick="getBlindVerify(this)"
                   th:data-blindGrade="${openReport.document.blindTrialGrade}"
                   th:data-blindComment="${openReport.document.blindTrialComment}">盲审结果</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
</div>

<!-- 课题信息弹出框 -->
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">课题信息</h4>
      </div>
      <div class="modal-body">

        <div class="col-md-12 common">
          <form id="projectInfoForm" class="form-inline form">
            <div class="row">
              <div class="col-md-12">
                <label for="project-pname">课题名称&nbsp;&nbsp;</label>
                <input type="text" class="form-control" id="project-pname" name="pname" readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="project-content">课题内容&nbsp;&nbsp;</label>
                <textarea class="form-control" rows="3" id="project-content"
                          name="content" readonly></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="project-type">课题类型&nbsp;&nbsp;</label>
                <input type="text" class="form-control" id="project-type" name="type" readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" id="old-file">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--评分框-->
<div class="modal fade" tabindex="-1" role="dialog" id="verifyScore">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">评分</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12 common">
          <form id="openReportVerifyForm" class="form-inline form"
                action="/teacher/openReport/verify"
                method="post"
                enctype="multipart/form-data">
            <input type="text" class="hide" id="pno" name="pno">
            <input type="text" class="hide" id="isBlind" name="isBlind" th:if="${isBlind}"
                   th:value="${isBlind}">
            <div class="row" th:if="!${isBlind}">
              <div class="col-md-12">
                <label>通过&nbsp;&nbsp;</label>
                <select class="form-control" name="isPass">
                  <option value="1">通过</option>
                  <option value="0">不通过</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label>评分&nbsp;&nbsp;</label>
                <input id="verify-grade" type="text" class="form-control" name="score">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label>评语&nbsp;&nbsp;</label>
                <input id="verify-comment" type="text" class="form-control" name="comment">
              </div>
            </div>

          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="verifySubmit" type="button" class="btn btn-primary"
                onclick="openReportVerify()">提交
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--历史审核记录-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="openReportRecordModel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">历史审核</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12 common table-responsive">
          <table class="table" id="openReportRecord">
            <thead>
            <tr>
              <th>文件</th>
              <th class="short">结果</th>
              <th class="short">分数</th>
              <th class="trialComment">评语</th>
              <th class="middle">时间</th>
            </tr>
            </thead>
            <tbody id="openReportRecordTable">
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          确定
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--盲审结果-->
<div class="modal fade" tabindex="-1" role="dialog" id="blindVerifyResultModel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">盲审结果</h4>
      </div>
      <div class="modal-body">

        <div class="col-md-12 common">
          <form id="blindVerifyResult" class="form-inline form">
            <div class="row">
              <div class="col-md-12">
                <label>评分&nbsp;&nbsp;</label>
                <input id="blind-verify-grade" type="text" class="form-control" readonly>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label>评语&nbsp;&nbsp;</label>
                <input id="blind-verify-comment" type="text" class="form-control" readonly>
              </div>
            </div>

          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>

</html>