<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <meta charset="UTF-8">
  <title>论文</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/share.css">

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/share.js"></script>
  <script src="/js/jqueryForm.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/transition.min.js"></script>


  <script>
    function thesisVerify() {
      $('#thesisVerifyForm').ajaxSubmit({
        beforeSubmit: function () {
        },
        success: function (data) {
          if (data.code == 200) {
            alert("审核成功");
            setTimeout(function () {
              window.location.reload();
            }, 500);
          } else {
            alert(data.message);
          }
        },

      });
    }

    function getProject(e) {
      var pno = $(e).attr('data-pno');
      var dno = $(e).attr('data-dno');
      var filePath = $(e).attr('data-filePath');
      var isBlind = $(e).attr('data-isBlind');

      $("#dno").val(dno);
      $("#filePath").val(filePath);
      $("#isBlind").val(isBlind);

      $.ajax({
        url: '/project/simple/' + pno,
        dataType: 'json',
        success: function (data) {

          $("#project-pno").val(data.data.pno + "");
          $("#project-pname").val(data.data.pname + "");
          $("#project-content").val(data.data.content + "");
          $("#project-type").val(data.data.type + "");
          var filePath = data.data.filePath + "";
          $("#oldFilePath").val(filePath + "");
          var filePathUrl = filePath.replace("#", "%23");
          $("#old-file").removeClass("hide");
          $("#old-file").append(
              "<input class='hide' type='text' id='oldFilePath' name='oldFilePath' value='"
              + filePath + "'>"
              + " <p>\n"
              + "&nbsp;&nbsp;课题文档\n"
              + "<a href=\"/download?filePath=" + filePathUrl + "&fileType=project\"><span>"
              + filePath.split('#')[1] + "</span></a>\n"
              + "&nbsp;&nbsp;\n"
              + "<a href=\"/readOnline?filePath=" + filePathUrl
              + "&fileType=project\">在线浏览</a>\n"
              + "\n"
              + "</p>");

          if (isBlind == 1 && $(e).attr('data-blindGrade') != null) {
            $("#verify-grade").val($(e).attr('data-blindGrade'));
            $("#verify-comment").val($(e).attr('data-blindComment'));
            $("#verify-grade").attr('readonly', '');
            $("#verify-comment").attr('readonly', '');
            $("#verifySubmit").remove();
          }
          $('#myModal').modal({
            keyboard: false
          });
        },
        error: function (data) {
          alert(data.message)
        }
      })
    }

    //移除添加的数据
    $(function () {
      $('#myModal').on('hide.bs.modal',
          function () {
            $("#old-file").addClass("hide");
            $("#old-file").empty();
          })
    });

    //获取论文记录
    function getThesisRecord(e) {
      var thesisNo = $(e).attr('data-thesisNo');
      $.ajax({
        url: '/student/thesis/record?thesisNo=' + thesisNo,
        dataType: 'json',
        success: function (data) {
          if (data.code == 200) {
            $.each(data.data, function (i, data) {
              var isPass;
              if (data.isPass == 1) {
                isPass = "<td class='text-success'>通过</td>";
              } else if (data.isPass == 2) {
                isPass = "<td class='text-danger'>待审</td>";
              } else if (data.isPass == 0) {
                isPass = "<td class='text-danger'>回拒</td>";
              }
              $("#thesisRecordTable").append(
                  "<tr>" +
                  "<td> <a href='/download?filePath=" + data.filePath.toString().replace('#', "%23")
                  + "&fileType=thesis'>" + data.filePath.toString().split('#')[1] + "</a></td>" +
                  isPass +
                  "<td>" + data.trialGrade + "</td>" +
                  "<td>" + data.trialComment + "</td>" +
                  "<td>" + moment(data.gmtCreate).format('YYYY-MM-DD') + "</td>" +
                  "</tr>");
            });
          } else {
            alert(data.message);
          }
        },
      });
      $("#thesisRecordModel").modal('show');
    }

    //查看盲审结果
    function getBlindVerify(e) {
      $("#blind-verify-grade").val($(e).attr('data-blindGrade'));
      $("#blind-verify-comment").val($(e).attr('data-blindComment'));
      $('#blindVerifyResultModel').modal({
        keyboard: false
      });
    }

    //清除记录
    $(function () {
      $('#thesisRecordModel').on('hide.bs.modal',
          function () {
            $("#thesisRecordTable").empty();
          })
    });
  </script>
</head>

<body>
<div class="container-fluid main">
  <!--顶部-->
  <div th:insert="head::head">

  </div>


  <div class="row">
    <!-- 左侧菜单 -->
    <div th:insert="leftMenu::leftMenuDocument">

    </div>

    <!-- 论文 -->
    <div class="row">
      <div class="col-md-7 common view">

        <p class="title">论文</p>
        <p>* 提交时间为 <span th:text="${projectPlan.thesisTime}"></span></p>
        <hr>
        <div class="table-responsive view">
          <table class="table">
            <thead>
            <tr>
              <th class="project-name">课题名</th>
              <th th:if="${isBlind} == null">学生</th>
              <th>论文</th>
              <th>文档操作</th>
              <th>审核结果</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="thesis:${teaThesis}">
              <td th:text="${thesis.pname}"></td>
              <td th:if="${isBlind} == null" th:text="${thesis.sname}"></td>
              <!--              文档-->
              <td th:if="${thesis.document} != null">
                <a th:text="${#strings.arraySplit(thesis.document.filePath,'#')[1]}"
                   th:href="@{/download(filePath=${thesis.document.filePath},fileType='thesis')}"></a>
              </td>
              <td th:if="${thesis.document} == null">未提交</td>
              <!--              文档操作-->
              <td th:if="${thesis.document} != null">
                <a th:href="@{/readOnline(filePath=${thesis.document.filePath},fileType='thesis')}">在线浏览</a>
                <a th:href="@{/download(filePath=${thesis.document.filePath},fileType='thesis')}">下载</a>
              </td>

              <!--              审核结果-->
              <td th:if="${thesis.document} == null">未提交</td>
              <td th:if="${thesis.document} != null and ${thesis.document.isPass} == 1"
                  class="text-success">已通过
              </td>
              <td th:if="${thesis.document} != null and ${thesis.document.isPass} == 2"
                  class="text-warning">待审核
              </td>
              <td th:if="${thesis.document} != null and ${thesis.document.isPass} == 0"
                  class="text-danger">已回拒
              </td>
              <td>
                <button class="btn btn-link" th:if="${thesis.document} != null" th:data-pno="${thesis.pno}"
                   th:data-dno="${thesis.document.thesisNo}"
                   th:data-isBlind="${isBlind}?1:0"
                   th:data-filePath="${thesis.document.filePath}"
                   th:data-blindGrade="${thesis.document.blindTrialGrade}"
                   th:data-blindComment="${thesis.document.blindTrialComment}"
                   onclick="getProject(this)">审核</button>
                <button class="btn btn-link" th:if="${isBlind} == null and ${thesis.document} != null "
                   onclick="getThesisRecord(this)"
                   th:data-thesisNo="${thesis.document.thesisNo}">历史审核</button>
                <button class="btn btn-link" th:if="${isBlind} == null and ${thesis.document} != null "
                   onclick="getBlindVerify(this)"
                   th:data-blindGrade="${thesis.document.blindTrialGrade}"
                   th:data-blindComment="${thesis.document.blindTrialComment}">盲审结果</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
</div>

<!-- 课题信息弹出框 -->
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">课题信息</h4>
      </div>
      <div class="modal-body">

        <div class="col-md-12 common">
          <form id="thesisVerifyForm" class="form-inline form" action="/teacher/thesis/verify"
                method="post"
                enctype="multipart/form-data">
            <input type="text" class="hide" id="dno" name="dno">
            <input type="text" class="hide" id="isBlind" name="isBlind" th:if="${isBlind}"
                   th:value="${isBlind}">
            <input type="text" class="hide" id="filePath" name="filePath">

            <div class="row">
              <div class="col-md-12">
                <label for="project-pname">课题名称&nbsp;&nbsp;</label>
                <input type="text" class="form-control" id="project-pname" name="pname" readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="project-content">课题内容&nbsp;&nbsp;</label>
                <textarea class="form-control" rows="3" id="project-content"
                          name="content" readonly></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="project-type">课题类型&nbsp;&nbsp;</label>
                <input type="text" class="form-control" id="project-type" name="type" readonly>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 hide" id="old-file">
                <input class="hide" type="text" id="oldFilePath" name="oldFilePath">
              </div>
            </div>

            <div class="row" th:if="!${isBlind}">
              <div class="col-md-12">
                <label>通过&nbsp;&nbsp;</label>
                <select class="form-control" name="isPass">
                  <option value="1">通过</option>
                  <option value="0">不通过</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label>评分&nbsp;&nbsp;
                  <span style="color:red;" th:if="!${isBlind}">*取最后一次审核作为论文成绩</span>
                  <span style="color:red;" th:if="${isBlind}">*此成绩很重要慎重对待</span>
                </label>
                <input id="verify-grade" type="text" class="form-control" name="score">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label>评语&nbsp;&nbsp;</label>
                <input id="verify-comment" type="text" class="form-control" name="comment">
              </div>
            </div>

          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-success" onclick="thesisVerify()">提交</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--历史审核记录-->
<div class="modal fade" tabindex="-1" role="dialog" id="thesisRecordModel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">历史审核</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12 common">
          <table class="table" id="thesisRecord">
            <thead>
            <tr>
              <th>文件</th>
              <th>结果</th>
              <th>分数</th>
              <th>评语</th>
              <th>时间</th>
            </tr>
            </thead>
            <tbody id="thesisRecordTable">
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          确定
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--盲审结果-->
<div class="modal fade" tabindex="-1" role="dialog" id="blindVerifyResultModel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">盲审结果</h4>
      </div>
      <div class="modal-body">

        <div class="col-md-12 common">
          <form id="blindVerifyResult" class="form-inline form">
            <div class="row">
              <div class="col-md-12">
                <label>评分&nbsp;&nbsp;</label>
                <input id="blind-verify-grade" type="text" class="form-control" readonly>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label>评语&nbsp;&nbsp;</label>
                <input id="blind-verify-comment" type="text" class="form-control" readonly>
              </div>
            </div>

          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>

</html>